@charset "UTF-8";

/* body */
body {
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%; 
	font-family: Georgia;
}

/* ---------------------------------------------------------------- */
/* header */

header .header_top_part{
	/* border: 1px solid red; */
}
#container_menu{
	/* border: 1px solid green; */
}

 .navbar-custom { 
   background-color: rgb(89, 60, 138); 
  } 
  /* Modify brand and text color */ 
          
 .navbar-custom .navbar-nav .nav-item .nav-link{ 
    color: white;
   }
   
.menu_header a {
	color: white;
}

/* pour les menus cachés */
/*le conteneur du dropdown*/
.dropdown {
	position: relative;
	display: inline-block;
}
/* le dropdown_content qui est caché par défaut */
.dropdown_content {
	display: none;
	position: absolute;
	background-color: rgb(163, 73, 164);
	width: 100%;
	overflow: auto;
}

.dropdown_content a {
	padding: 13px 16px;
	text-decoration: none;
	display: block;
}

.dropdown_content a:hover {
	background-color: #808080;
}

.dropdown:hover .dropdown_content {
	display: block;
}

.dropdown:hover .droping {
	background-color: #0080ff215215215;
}



/* titre de page */
header .header_bottom_part {
	text-align: center;
	border: 1px black solid;
}
/* ------------------------------------------------------------------------------- */
/* home page */


.header_midle_part {
	background-color: rgb(215, 215, 215);
}


.image_holder {

	background-color: #ead7ff215215255;
}

/* articles */
#home_articles_setion {
	background-color: rgb(189, 244, 226);
}


/* l'interieur de l'article */
#home_articles_setion #text_article {

	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%; 
	background-color: white;
	border: 1px solid black;
}

#home_articles_setion img {

	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%; 

	
}

/* ---------------------------------------------------------------- */
/* pages formulaires */
.page_formulaire {
	background-color: rgb(189, 244, 226);
}

.formulaire {
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 5%;
	margin-right: 5%;
}
/* permet de prendre toute la largeur pour les champs du formulaire */
input[type=text] {
	width: 100%;
	display: block;
	padding: 12px 15px;
	margin: 8px 0;
	box-sizing: border-box;
}

/* ---------------------------------------------------------------- */
/* Liste des bibliothèques */

#searchField{
	margin-left: 5%;
}

#blocPageLibrariesList{
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: rgb(189, 244, 226);
}
#descriptionLibrariesList{
		
	background-color: white;
	border: 1px solid black; 	
}
#blocPageLibrariesList h3{
	font-family:'Brush Script MT', cursive;
}


#buttonSuppressionLibrary:hover {
  background-color: red;
}

/* ---------------------------------------------------------------- */
/* Liste des Livres */

#searchField{
	margin-left: 5%;
}
#blocPageBooksList{
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: rgb(173, 212, 251);
}
#descriptionBooksList{
		
	background-color: white;
	border: 1px solid black; 	
}
#blocPageBooksList h3{
	font-family:'Brush Script MT', cursive;
}

#buttonSuppressionBook:hover {
  background-color: red;
}

/* ---------------------------------------------------------------- */
/* Se connecter */

#enregistrementBlock{

}
#loginBlock{

	border-left: 1px solid black;
}


/* ---------------------------------------------------------------- */
/* Mon Compte */


#blocPageMonCompte{
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: rgb(173, 212, 251);
	
}
#MonCompteInfos{
	
	padding-top: 2%;
	padding-left: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom:2%; 
	background-color: white;  
	border: 1px solid black;

}
#MonCompteBorrows{
	margin-top: 2%; 
	padding-top: 2%;
	padding-left: 2%;
	padding-left: 2%;
	padding-right: 2%; 
	padding-bottom: 2%;  
	border: 1px solid white; 	 
}
#OneBorrowMonCompte{
	 margin-top: 2%; 
	 margin-top: 5%; 
	background-color: white; 
}

#blocPageMonCompte h2{
	font-family:'Brush Script MT', cursive;
	background-color: white;  
}
#blocPageMonCompte h3{
	font-family:'Brush Script MT', cursive;
}



/* ---------------------------------------------------------------- */
/* erreurs */
.element_danger {
	color: red;
}


/* ---------------------------------------------------------------- */
/* footer */
footer {
	border: 1px solid black;
	background-color: rgb(89, 60, 138);
}

.part_supp_footer {
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Georgia;
}

.part_supp_footer a {
	color: white;
}

.mentionsEtContact {
	display: flex;
	align-items: center;
	justify-content: space-arround;
}

.contact {
	
}

.mentions_legales {
	padding-left: 30%;

}

.logos_footer {
	display: flex;
	align-items: center;
	display: flex;
	justify-content: space-arround;
	margin-left: 10%;
}

.logo_twitter {
	padding-left: 10%;
}

.logo_instagram {
	padding-left: 10%;
	padding-right: 10%;
}

.part_inf_footer {
	border-top: 1px white solid;
}

.part_inf_footer p {
	color: white;
	text-align: center;
	font-family: Georgia;
}