<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Les Bibliothèques de Katzenheim</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div class="header_top_part">
			<div th:insert="menu.html"></div>
		</div>
		<div class="header_bottom_part">
			<h1>MODIFIER LES INFORMATIONS UTILISATEUR</h1>
		</div>
	</header>
	<div class="page_formulaire">
		<form th:action="@{/modifierMonCompteInfosPerso}" method="post" th:object="${currentLibraryUser}">

			<div class="col-md-6 form-group">
				<label for="firstName">PRENOM</label> <input type="text" th:field="*{firstName}"
					id="firstName" class="form-control" placeholder="${currentLibraryUser.firstName}">
			</div>
			<div class="col-md-6 form-group">
				<label for="lastName">NOM</label> <input type="text" th:field="*{lastName}"
					id="lastName" class="form-control" placeholder="${currentLibraryUser.lastName}">
			</div>
			<div class="col-md-6 form-group">
				<label for="address">ADRESSE</label> <input type="text" th:field="*{address}"
					id="address" class="form-control" placeholder="${currentLibraryUser.address}">
			</div>
			<div class="col-md-6 form-group">
				<label for="phone">TELEPHONE</label> <input type="text" th:field="*{phone}"
					id="phone" class="form-control" placeholder="${currentLibraryUser.phone}">
			</div>
			
			<div class="col-md-6 form-group">
				<button type="submit" class="btn btn-primary">EDITER </button>
			</div>
		</form>
		<form th:action="@{/modifierMonMotDePasse}" method="post"
			th:object="${currentLibraryUser}">

			<div class="col-md-6 form-group">
				<label for="password">PASSWORD</label> <input type="text"
					th:field="*{password}" id="password" class="form-control"
					placeholder="${currentLibraryUser.password}">
			</div>
			<div class="col-md-6 form-group">
				<button type="submit" class="btn btn-primary">EDITER
					PASSWORD</button>
			</div>
		</form>

		<form th:action="@{/modifierMonAdresseEmail}" method="post"
			th:object="${currentLibraryUser}">

			<div class="col-md-6 form-group">
				<label for="email">EMAIL</label> <input type="text"
					th:field="*{email}" id="email" class="form-control"
					placeholder="${currentLibraryUser.email}">
			</div>
			<div class="col-md-6 form-group">
				<button
					onclick="return confirm('attention vous allez être déconnecté. Etes vous sur de vouloir procéder?')"
					type="submit" class="btn btn-primary">EDITER
					EMAIL</button>
			</div>

		</form>
		<!-- <div class="col-md-6 form-group" sec:authorize="hasRole('ADMIN')">
			<form th:action="@{/editRoles}" method="post" th:object="${roles}">
				<table class="table">
					<thead class="table top">
						<tr>
							<th>ID</th>
							<th>ROLE</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="role,custStat:${roles}">
							<td th:text="${custStat.index}"></td>
							<td th:text="${role.id}"></td>
							<td th:text="${role.name}"></td>
							 <td><a th:href="@{deleteUserRole(id=${custStat.index})}">Supprimer</a></td> 
						</tr>
					</tbody>
				</table>
			</form>
			 <div sec:authorize="hasRole('ADMIN')">
				<form th:action="@{/addUserRole}" method="post" th:object="${roles}">
					<select th:field="*{role}">
						<option th:each="globRole:${globalsRolesList}" th:value="${globRole.id}"
							th:text="${globRole.name}"></option>
					</select>
					<div>
						<button type="submit" class="btn btn-primary">AJOUTER
							ROLE</button>
					</div>
				</form>
			</div> 
		</div> -->
		<footer>
			<div th:insert="footer.html"></div>
		</footer>
	</div>
</body>
</html>